EasyDict==1.7
opencv-python~=4.6.0.66
Cython~=0.29.32
scipy~=1.9.1
pandas
pyyaml~=6.0
json_tricks
scikit-image
tensorboardX>=1.2
torchvision~=0.13.1

numpy~=1.23.3
setuptools~=60.2.0
torch~=1.12.1
pycocotools~=2.0.4